# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.venv/

# Flask specific files
instance/
*.pyc
*.pyo
*.pyd

# Log files and database
*.log
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pytest cache and coverage
.cache/
coverage/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environment variables
.env
.env.*

# macOS files
.DS_Store

/results/
/fine_tuned_gpt2